@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

:root{
  --hue-color: 208; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  --backcolor: hsl(var(--hue-color), 35%, 39%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --background: hsl(var(--hue-color), 22%, 35%);
}

*{
  padding: 0;
  margin: 0;
}

.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
}

.timeline{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

/* --------- HEADER ----------- */

header{
  background-color: var(--first-color-lighter);
  text-align: center;
  padding: 50px 0;
}

h1{
  color: var(--backcolor);
  font-family: "Noto Sans";
  font-weight: 200;
  text-transform: uppercase;
  font-size: 80px;
  
}

.linha{
  border-bottom: 2px solid white;
  width: 25rem;
  display: block;
  
  margin: auto;
}
i{
  font-size:30px;
}

.voltar{
  display: flex;
}

a .uil-arrow-left{
  background-color: white;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  transform: translateX(-40px);
  transform: translateY(70px);
  justify-content: center;
  align-items: center;
}

header a{
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: var(--backcolor);
}

/* ---------- MAIN ------------- */



.timeline ul{
  list-style: none;
}

.timeline ul li{
  padding: 20px;
  background-color: #1e1f22;
  color: var(--first-color-lighter);
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child{
  margin-bottom: 30px;
}
.timeline ul li:first-child{
  margin-top: 30px;
}

.bloco h2{
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.bloco h4{
  color: var(--background);
  text-align: center;
}

.bloco p{
  font-size: 1rem;
  line-height: 22px;
  font-weight: 300;
  text-align: justify;
}

@media only screen and (min-width: 768px){
  .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--first-color-lighter);
  }
  .timeline ul li{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }

  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-70px);
  }

  .timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(70px);
  }

  .timeline ul li::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--first-color-lighter);
    border-radius: 50%;
    top: 50%;
  }
  .timeline ul li:nth-child(odd)::after{
    transform: translate(50%,-50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::after{
    transform: translate(-50%,50%);
    left: -30px;
  }



}

footer{
  background-color: var(--first-color-lighter);
  color: var(--backcolor);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
footer a{
  text-decoration: none;
  color: var(--backcolor);
  font-size: 20px;
  padding-bottom: 10px;
}

footer a:first-child{
  margin-top: 30px;
}

footer a:hover{
  background-color: #101010;
  color: white;
  padding: 5px;
  border-radius: 10px;
  transition: 200ms;
}

footer p{
  font-size: 30px;
  font-weight: 600;
}